<div class="container px-0 shadow-lg" data-post-id={{post.id}}>
  <h1
    class="post-title d-flex justify-content-between align-items-center px-3"
  >{{post.title}}
    <span id="created-date">Posted by
      {{post.user.username}}
      on
      {{post.date_created}}</span></h1>

  <p class="post-content px-3">{{post.content}}</p>
</div>

<form class="create-post-box">

  <div class="form-floating shadow">
    <textarea
      type="text"
      class="form-input"
      placeholder="Content"
      id="content-input"
    ></textarea>
  </div>

  <button class="btn btn-dark submit-btn" type="submit">Submit</button>
  <br />

</form>